{{#if addNewQuestion}}
  <h3>New Question</h3>
  <form>
    <div class="form-group">
      <label for="author">Owner</label>
      {{input class="form-control" value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="content">Question Subject</label>
      {{input class="form-control" value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="notes">Question Details</label>
      {{textarea class="form-control" value=notes id="notes"}}
    </div>
    <br>
    <button class="btn btn-xs btn-success" {{action 'saveQuestion'}}>Save</button>
  </form>
{{else}}
  <button class="btn btn-xs btn-success" {{action "questionFormShow"}}>New Question</button>
{{/if}}
