{{#if addNewAnswer}}
  <h1>Your Answer</h1>
  <form>
    <div class="form-group">
      <label for="author">Your Name</label>
      {{input class="form-control" value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="content">Your Answer</label>
      {{input class="form-control" value=content id="content"}}
    </div>
    <br>
    <button class="btn btn-xs btn-success" {{action 'saveAnswer'}}>Post Answer</button>
  </form>
{{else}}
  <button class="btn btn-xs" {{action 'answerFormShow'}}>Answer Question</button>
{{/if}}
