<h3>{{question.content}}</h3>
<p>posted by: {{question.author}}</p>
{{#if isImageShowing}}
  <ul class="list-group">
    <li class="list-group-item">{{question.notes}}</li>
  </ul>
  <button class="btn btn-xs" {{action 'imageHide'}}>Hide question</button>
{{else}}
  <button class="btn btn-xs" {{action 'imageShow'}}>Show question</button>
{{/if}}
