
<h2>More information about {{model.author}}'s question</h2>

{{question-detail question=model}}

<ul class="list-group">
  {{#each model.answers as |answer|}}
    <li class="list-group-item">
      <p>{{answer.content}}</p>
      <p>answered by - {{answer.author}} | rating: {{answer.rating}}</p>
    </li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}
<br>
{{update-question question=model update="update"}}

<br>
{{#link-to 'index'}}<p>Home</p>{{/link-to}}
