
<h2>More information about {{model.author}}'s question</h2>

{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
<br>
{{new-answer saveAnswer="saveAnswer" question=model}}
<br>
<ul class="list-group">
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<br>
{{update-question question=model update="update"}}

<br>
{{#link-to 'index'}}<p>Home</p>{{/link-to}}
